body {
    background-color: #f7f7f7 !important;
    font-family: "Nunito", sans-serif !important;
}

#table {
    background-color: white !important;
}

// td.filename {
// 	max-width: 0;
// 	overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// td.filename:hover {
// 	overflow: visible;
// }

.just-padding {
	padding: 15px;
}

.list-group.list-group-root {
	padding: 0;
	overflow: hidden;
}

.list-group.list-group-root .list-group {
	margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
	border-radius: 0;
	border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
	border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
	padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
	padding-left: 45px;
}

.list-group-item .fa {
	margin-right: 5px;
}

/* Customized scrollbar */
.scrollbar-near-moon::-webkit-scrollbar-track {
	background-color: #F5F5F5;
	border-radius: 0px; 
}
	
.scrollbar-near-moon::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #e9e9e9; 
}
	
.scrollbar-near-moon::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7de86), to(#b490ca93));
	background-image: -webkit-linear-gradient(bottom, #5ee7de85 0%, #b490ca7a 100%);
	background-image: linear-gradient(to top, #5ee7de88 0%, #59f79b88 100%); 
}

.scrollbar-near-moon-wide::-webkit-scrollbar-track {
	background-color: #e9e9e9;
	border-radius: 0px; 
}
	
.scrollbar-near-moon-wide::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #F5F5F5; 
}
	
.scrollbar-near-moon-wide::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7de86), to(#b490ca93));
	background-image: -webkit-linear-gradient(bottom, #5ee7de85 0%, #b490ca7a 100%);
	background-image: linear-gradient(to top, #5ee7de88 0%, #59f79b88 100%); 
}