body {
    background-color: #f7f7f7 !important;
    font-family: "Nunito", sans-serif !important;
}

#searchResult {
    background-color: white !important;
}

/* Customized scrollbar */
.scrollbar-near-moon::-webkit-scrollbar-track {
	background-color: #F5F5F5;
	border-radius: 0px; 
}
	
.scrollbar-near-moon::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #F5F5F5; 
}
	
.scrollbar-near-moon::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7de86), to(#b490ca93));
	background-image: -webkit-linear-gradient(bottom, #5ee7de85 0%, #b490ca7a 100%);
	background-image: linear-gradient(to top, #5ee7de88 0%, #59f79b88 100%); 
}

.scrollbar-near-moon-wide::-webkit-scrollbar-track {
	background-color: #F5F5F5;
	border-radius: 0px; 
}
	
.scrollbar-near-moon-wide::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #F5F5F5; 
}
	
.scrollbar-near-moon-wide::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7de86), to(#b490ca93));
	background-image: -webkit-linear-gradient(bottom, #5ee7de85 0%, #b490ca7a 100%);
	background-image: linear-gradient(to top, #5ee7de88 0%, #59f79b88 100%); 
}